body {
    font-family: "Montserrat", sans-serif;
    background: #f5f7fa;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

aside {
    width: 370px;
    background: #1e2939;
}
.cv-photo {
    margin-top: 25px;
}

.header-secondary {
    color: #ffffff;
}

.contact-links {
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.bold {
    font-weight: 700;
}

.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside;
}

.list-item-secondary {
    color: #ffffff;
}

.contact-block {
    margin-top: 51px;
    margin-left: 40px;
}

.tech-skills-block {
    margin-top: 47px;
    margin-left: 40px;
}

.soft-skills-block {
    margin-top: 44px;
    margin-left: 40px;
}

main {
    padding: 102px 88px 102px 88px;
}

.main-description {
    width: 400px;
}

.job-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

h1 {
    font-weight: 700px;
    font-size: 35px;
    line-height: 45px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #595959;
}

.projects {
    width: 485px;
    margin-bottom: 51px;
}

.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 0px;
    list-style-position: inside;
}

.list-primary-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #595959;
}

.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 12px;
    margin-top: 50px;
}

.job-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.orange {
    color: rgba(251, 109, 58, 1);
}

.job-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.date-line {
    color: rgba(0, 0, 0, 1);
}

.job-list {
    font-weight: 400px;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 0px;
    list-style-position: inside;
}

h4 {
    font-weight: 700px;
    font-size: 14px;
    line-height: 17px;
    color: #0c0b0b;
}


.additional-style {
    font-weight: 200px;
    font-size: 16px;
    line-height: 20px;
    color:rgba(5, 5, 5, 0)
    margin-bottom: 5px;
    margin-top: 100px;
}

.speci {    
    font-weight: 150px;
    font-size: 12px;
    line-height: 15px;
    color:rgba(5, 5, 5, 0)
    margin-bottom: 20px;

}

